<!DOCTYPE html>
<html>
    <head>
        <title>Species identifier</title>
    </head>
    <body style="text-align: center;
background: linear-gradient(#FBEEE6,#FFE5D8,#FFCAD4,#F3ABB6);background-attachment: fixed;">
        <h1><u>IDENTIFY THE SPECIES!</u></h1>
        <h2 style="color: rgb(158, 15, 5);">Give the corresponding value of the features of the iris and we will help you identify the species!</h2>
        <br><br><br><br>
        <form action="/" method="post" style="font-family:Georgia, 'Times New Roman', Times, serif; color: rgb(110, 0, 255);">
            <b>
                <p> Enter Petal length:  <input type="text" name="pl" ></p>
                
                <p>Enter Petal width:   <input type="text" name="pw" ></p>
                
                <p>Enter Sepal length:  <input type="text" name="sl" ></p>
                
                <p>Enter Sepal width:   <input type="text" name="sw" ></p>
            </b>
                <br><br>
                <input type="Submit" value="Find!">
        </form>
    </body>
</html>