<!DOCTYPE html>
<html>
<head>
<title>Species identifier</title>
</head>
<body style="text-align: center;
background: linear-gradient(to right,lightgreen,cyan,lightblue);">
    <div class = "bodypt"></div>
<h1>Identify the species!</h1>
<h2 style="color: blueviolet;">Give the corresponding value of the features of the iris and we will help you identify the species!</h2>
<br><br><br><br>
<form action="/" method="post" style="font-family:Georgia, 'Times New Roman', Times, serif; color: deeppink;">
<b> Petal length: <input type="text" name="pl" >
<br><br>
Enter Petal width: <input type="text" name="pw" >
<br><br>
Enter Sepal length: <input type="text" name="sl" >
<br><br>
Enter Sepal width: <input type="text" name="sw" ></b>
<br><br>
<input type="Submit" value="Find!">
</form>
</div>
</body>
</html>